/* Collapsable recipe container */
.recipe {
  display: flex;
  flex-direction: column;
  background-color: var(--foam);
  padding: 10px;
  border-radius: 3px;
}
.recipe h3 {
  font-size: 1.1rem;
}
.recipe .bold {
  font-weight: 600;
}

.recipe p {
  line-height: 2rem;
}


.recipe li {
  list-style: none;
}

.ingredient {
  padding: 5px;
  border-radius: 3px;
  margin: 8px 0;
  background-color: rgba(233, 215, 150, 0.332);
}

.boil {
  margin: 8px 0 -8px 5px;
}