.recipesMain {
  display: flex;
  height: calc(100vh - 60px);
}

.homebrewRecipes {
  text-align: center;
  margin-top: 20px;
  font-size: 2rem;
}
.recipes {
  width: 100%;
  background-color: var(--pilsner);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: scroll;
  justify-content: center;
}

@media (min-width: 480px) {
  .homebrewRecipes {
    width: 100%;
  }
}
