/* Contains everything below the navbar */
.breweriesMain {
  display: flex;
  height: calc(100vh - 120px);
}

/* Fixed background image  of the city*/
/* background properties are applied dynamically in the js file */
.cityImage {
  z-index: 1;
  position: fixed;
  margin-top: 60px;
  width: 100%;
  height: calc(100vh - 120px);
}

/* Scrollable container between navbar and mobile back to map bottom button */
.breweries {
  height: calc(100vh - 120px);
  margin-top: 60px;
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: scroll;
  justify-content: center;
}

.cityNameContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 120px);
  background-color: rgba(255, 255, 255, 0.4);
}

.cityNameContainer h2 {
  background-color: rgba(255, 255, 255, 0.1);
  outline: 5px solid rgba(255, 255, 255, 0.05);
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
  line-height: 3rem;
  margin-bottom: 20vh;
  font-size: 3rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.bigArrowBox {
  height: 103px;
  width: 103px;
  position: relative;
  animation: boxBounce 1s ease-in-out 0.4s infinite;
}

@keyframes boxBounce {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0px);
  }
}

.arrowLeft {
  position: absolute;
  border-bottom: 8px solid black;
  transform: rotate(45deg);
  transform-origin: bottom left;
  animation: growRight 0.2s forwards;
}

@keyframes growRight {
  0% {
    width: 0;
  }

  100% {
    width: 68px;
  }
}

.arrowRight {
  position: absolute;
  top: 48px;
  left: 49px;
  border-bottom: 8px solid black;
  transform: rotate(-45deg);
  transform-origin: bottom left;
  animation: growLeft 0.2s forwards 0.2s;
}

@keyframes growLeft {
  0% {
    width: 0;
  }

  100% {
    width: 68px;
  }
}

.mapView,
.breweries,
.cityNameContainer {
  z-index: 2;
}

/* spacer for mobile issue with last child behind back to map button */
.empty {
  width: 100%;
  height: 120px;
}

/* Back to Map button mobile styling */
.mapView {
  background-color: var(--pilsner);
  font-weight: 900;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  text-decoration: none;
  color: black;
}
.mapView:hover {
  cursor: pointer;
}




@media (min-width: 720px) {
  .breweriesMain {
    height: calc(100vh - 60px);
  }

  .cityImage {
    height: calc(100vh - 60px);
  }

  .breweries {
    height: calc(100vh - 60px);
  }
  
  .cityNameContainer {
    height: calc(100vh - 60px);
  background-color: rgba(255, 255, 255, 0.7);
  }

  .cityNameContainer h2 {
    font-size: 8rem;
  }
  
  .mapView {
    position: absolute;
    top: 12%;
    width: 40px;
    height: 130px;
    border-radius: 0 5px 5px 0;
    transition: 0.2s;
  }
  .mapView:hover {
    width: 50px;
  }
  .mapView p {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
  }
}
