* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

:root {
  --foam: rgb(255, 252, 233);
  --pilsner: rgb(209, 170, 69);
}
body {
  display: flex;
  flex-direction: column;
}
