.breweriesMain {
  display: flex;
  height: calc(100vh - 60px);
}
.breweries {
  width: 100%;
  background-color: var(--pilsner);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: scroll;
  justify-content: center;
}

.breweriesMain nav {
  width: 100%;
}
