.breweryCard {
  z-index: 2;
  width: 90%;
  background-color: rgba(245, 235, 209, 0.63);
  margin: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  color: black;
  text-decoration: none;
  padding-bottom: 5px;
}

.breweryCard h2 {
  padding: 5px;
  border-radius: 5px 5px 0 0;
  text-align: center;
  font-size: 1.3rem;
  color: black;
  background-color: var(--foam);
}
.breweryCard:hover {
  background-color: goldenrod;
}

@media (min-width: 480px) {
  .breweryCard {
    width: 70%;
  }
}

@media (min-width: 768px) {
  .breweryCard {
    width: 45%;
  }
}

@media (min-width: 1024px) {
  .breweryCard {
    width: 35%;
  }
}

@media (min-width: 1280px) {
  .breweryCard {
    width: 30%;
  }
}

.website {
  margin: 5px 0 0 5px;
  font-size: 1.3rem;
  text-decoration: none;
}

.breweryCard a {
  width: fit-content;
}

.link {
  text-decoration: underline;
}
.phone {
  margin: 5px 0 0 5px;
  font-size: 1.3rem;
}

.address {
  margin: 5px 0 0 5px;
  font-size: 1.3rem;
  display: flex;
}
.flag {
  margin-right: 5px;
}
