.breweryCard {
  z-index: 2;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.9);
  margin: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  color: black;
  text-decoration: none;
  padding-bottom: 5px;
}

.breweryCard h2 {
  padding: 5px;
  border-radius: 5px 5px 0 0;
  text-align: center;
  font-size: 1.3rem;
  color: black;
  background-color: rgba(218, 165, 32, 0.9);
}
.breweryCard:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

@media (min-width: 480px) {
  .breweryCard {
    max-width: 420px;
    margin: 20px 50px;
  }
}

.website {
  margin: 5px 0 0 5px;
  font-size: 1.3rem;
  text-decoration: none;
}

.breweryCard a {
  width: fit-content;
}

.link {
  text-decoration: underline;
}
.phone {
  margin: 5px 0 0 5px;
  font-size: 1.3rem;
}

.address {
  margin: 5px 0 0 5px;
  font-size: 1.3rem;
  display: flex;
}
.flag {
  margin-right: 5px;
}
